* {
    box-sizing: border-box;
}

body {
    margin-left: 44px;
    padding: 0;
    min-width: 1920px;
    margin: 0 auto;
}



.main-title {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title { 
    font-size: 38px;
    font-weight: 700;
    line-height: 1;
    color: #161D25;
}

.title-pharagraph {
    font-size: 22px;
    font-weight: 400;
    line-height: 1;
    word-spacing: 1px;
    color: #5D7085;
}

.card-list {
    padding: 0;
    margin-top: 69px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
}

.text-main {
    color: #fff;
}

.card {
    box-sizing: border-box;
    min-width: 266px;
    min-height: 601px;
    display: flex;
    flex-direction: column-reverse;  
    padding-bottom: 36px;
    padding-right: 35px;
    padding-left: 35px;
}

.card_container-img {
    height: 201px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_button {
    margin-top: auto;
    background: initial;
    width: 196px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border: 2px, solid, #fff;
    border-radius: 2px;
}

.card_button-developer:hover {
    background-color: #fff;
    color: #44A9FD;
}

.card_button-snail:hover {
    background-color: #fff;
    color: #E6C434;
}

.card_button-car:hover {
    background-color: #fff;
    color: #3DCAD4;
}

.card_button-gun:hover {
    background-color: #fff;
    color: #939FB3;
}

.card_content-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    justify-content: space-around;
    list-style-image: url(../images/Done.png);
    list-style-position: inside;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
}

.card_text-price {
    font-size: 67px;
    font-weight: 700;
    line-height: 1;
}

.card_text-up {
    font-size: 16px;
    font-weight: 500;

}

.card-text_under-title {
    margin-bottom: 27px;
    font-size: 12px;
    font-weight: 400;
}
.card_personal {
    background: linear-gradient( #FDC624, #E6C434);
}

.image_personal {
    width: 197px;
}

.card-business {
    box-sizing: border-box;
    background: linear-gradient( #55DCE7, #3DCAD4);
}

.image_business {
    width: 172px;
}

.card-developer {
    background: linear-gradient(#6BDFFF, #3DACFC);
}

.img_developer {
    width: 180px;
}

.card-agency {
    background: linear-gradient( #BFCEDC, #939FB3);
}

.img_agency {
    width: 170px;
}